/*@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Staatliches&family=Zen+Maru+Gothic:wght@300&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Work+Sans:wght@300;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #1F2544;
    /*background: linear-gradient(116.5deg, #230351 11.94%, #BB00D4 65.23%, #279EF4 134.87%); */box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
    
    
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'work sans', sans-serif;
    color: #c9f70b;
    font-weight: 400;
    font-size: 18px;
}

.cabecalho-menu-item:hover {
    color: #81689D;
}




.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #c9f70b;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px; 
}

.hero {
    font-family: 'major mono display', cursive;
    font-weight: 400;
    font-size: 60px;
    color: #c9f70b;
    
}

.tagline {
    font-family: 'work sans', sans-serif;
    color: #c9f70b;
    font-weight: 400;
    font-size: 24px;
    
}

p {
    font-size: 20px;
    font-family: 'work sans', sans-serif;
    color: #FFD0EC;    
    text-align: left; 
    
    
}

.bio {
    font-family: 'work sans', sans-serif;
    font-size: 20px;
    color: #FFD0EC;
    list-style: inside;
    list-style: none;
    
}

.conteudo-principal-escrito-botao {
    background-color: #c9f70b;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #300a66;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-escrito-botao:hover {
    background-color:#81689D;
}


.conteudo-principal-img {
    height: 400px;
    padding: 48px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFD0EC;
    padding-top: 48px;
    font-family: 'major mono display', cursive;
    color: #c9f70b;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'work sans', sans-serif;
    color: #FFD0EC;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
}

.lista-skills {
    font-family: 'work sans', sans-serif;
    font-size: 20px;
    color: #FFD0EC;    
    list-style: inside;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #c9f70b;
}

.rodape-img {
    height: 65px;
    display: block;
    margin: 0 auto;
}